In [6]:
import pandas as pd

df = pd.read_csv("sentiment_tweets3.csv",names=["id","tweet","label"])

In [7]:
df.head()

,id,tweet,label
0,Index,message to examine,label (depression result)
1,106,just had a real good moment. i missssssssss hi...,0
2,217,is reading manga http://plurk.com/p/mzp1e,0
3,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
4,288,@lapcat Need to send 'em to my accountant tomo...,0

In [50]:
tweets = df[["tweet","label"]]

In [53]:
print(tweets["label"][0])

label (depression result)

In [56]:
tweets[(tweets["label"]=="1" or tweets["label"]=="0" )].apply(lambda x : pd.to_numeric(x))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [33]:
tweets_positive = tweets[tweets["label"]=="1"]
tweets_negative = tweets[tweets["label"]=="0"]

In [41]:
tweets_positive["label"].apply(lambda x : int(x))

8001     1
8002     1
8003     1
8004     1
8005     1
        ..
10310    1
10311    1
10312    1
10313    1
10314    1
Name: label, Length: 2314, dtype: int64

In [42]:
tweets_positive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2314 entries, 8001 to 10314
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   2314 non-null   object
 1   label   2314 non-null   object
dtypes: object(2)
memory usage: 54.2+ KB